
/*==================== Slider ========================*/

.ab-slider {
  background-color: $slider_bg_color;
}

.ab-slider .ab-slider-fg {
  background-color: $slider_fg_color;
}

.ab-slider-horizontal {
  width: $slider_span;
  height: $slider_thickness;
}

.ab-slider-vertical {
  width: $slider_thickness;
  height: $slider_span;
}
