/* apply a natural box layout model to all elements, but allowing components to change */
.ab {
  box-sizing: border-box; }

.ab *, .ab *:before, .ab *:after {
  box-sizing: inherit; }

.ab *:focus {
  outline: none; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid black; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid black; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid black; }

/*==================== Slider ========================*/
.ab-input-slider {
  background-color: gray;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.65); }

.ab-input-slider .ab-input-slider-fg {
  background-color: indianred;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.65); }

.ab-input-slider-horizontal {
  width: 100px;
  height: 8px; }

.ab-input-slider-vertical {
  width: 8px;
  height: 100px; }

/*==================== InputNumber ========================*/
.ab-input-number {
  width: 100px;
  height: 24px;
  border: 1px solid transparent; }

.ab-input-number input {
  color: black;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
  background-color: #e5e5e5; }

.ab-input-number .ab-input-number-controls {
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
  background-color: #e5e5e5; }

.ab-input-number .ab-input-number-controls .ab-input-number-middle-control {
  background-color: gray; }
