
// ==================== Colors =====================

$slider_bg_color: gray;
$slider_fg_color: indianred;

// ==================== Dimensions =================

$slider_thickness: 5px;
$slider_span: 100px;
