
/* apply a natural box layout model to all elements, but allowing components to change */

.ab {
  box-sizing: border-box;
}

.ab *, .ab *:before, .ab *:after {
  box-sizing: inherit;
}

.ab *:focus {
  outline: none;
}

.ab-no-tap, .ab-no-tap * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}


