
/* apply a natural box layout model to all elements, but allowing components to change */

.ab {
  box-sizing: border-box;
}

.ab *, .ab *:before, .ab *:after {
  box-sizing: inherit;
}

.ab *:focus {
  outline: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  border-bottom: 4px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  border-top: 4px solid black;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;

  border-left: 4px solid black;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;

  border-right:4px solid black;
}
