
/* apply a natural box layout model to all elements, but allowing components to change */

.ab {
  box-sizing: border-box;
}

.ab *, .ab *:before, .ab *:after {
  box-sizing: inherit;
}

.ab *:focus {
  outline: none;
}
