
.ab-clearfix:before, .clearfix:after { content: ""; display: table; }
.ab-clearfix:after { clear: both; }
.ab-clearfix { zoom: 1; }

// 4px should stay unchanged as it is hardcoded in jsx
.ab-arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid $arrow_triangle_base_color;
}
.ab-arrow-up.ab-active {
  border-bottom-color: $arrow_triangle_active_color;
}

.ab-arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid $arrow_triangle_base_color;
}
.ab-arrow-down.ab-active {
  border-top-color: $arrow_triangle_active_color;
}

.ab-arrow-right {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid $arrow_triangle_base_color;
}
.ab-arrow-right.ab-active {
  border-left-color: $arrow_triangle_active_color;
}

.ab-arrow-left {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid $arrow_triangle_base_color;
}
.ab-arrow-left.ab-active {
  border-left-color: $arrow_triangle_active_color;
}
